[MASTER]
disable=
    C0114, # Missing module docstring
    C0115, # Missing class docstring
    C0116, # Missing function or method docstring
    C0415, # Import outside toplevel
    W0718, # Catching too general exception Exception
